{
  "layer": "top",
  "position": "top",
  "mod": "dock",  
{{- if eq .chezmoi.hostname "arch-desktop" }}
  "margin-left": 15,
  "margin-right": 15,
  "margin-top": 15,
{{- else if eq .chezmoi.hostname "arch-laptop" }}
  "margin-left": 8,
  "margin-right": 8,
  "margin-top": 8,
{{- end }}
  "spacing": 2,
  "margin-bottom": 0,
  "exclusive": true,
  "passthrough": false,
  "gtk-layer-shell": true,
  "reload_style_on_change": true,
  "modules-left": [
    "hyprland/workspaces"
  ],
  "modules-center": [
    "clock"
  ],
  "modules-right": ["wireplumber#sink", "wireplumber#source"],
  "hyprland/workspaces": {
    "format": "{icon}",
    "format-icons": {
      "urgent": "",
      "active": "",
      "visible": "",
      "default": "",
      "empty": ""
    },
    "all-outputs": false
  },
  "clock": {
    "format-alt": "{:%a, %d. %b  %H:%M}"
  },
  "wireplumber#source": {
      "node-type": "Audio/Source",
      "format": "󰍬  {volume}%",
      "format-muted": "󰍭",
      "on-click": "/home/jan/.config/waybar/scripts/audio_picker.sh --source",
      "scroll-step": 5,
  },
  "wireplumber#sink": {
	   "format": "{volume}%",
	   "format-muted": "",
	   "on-click": "helvum",
	   "format": "{icon} {volume}%",
	   "format-icons": ["  ", "  ", "  "],
	   "on-click": "/home/jan/.config/waybar/scripts/audio_picker.sh --sink",
	   "scroll-step": 5
  }
}
