version = 4
final_space = true
console_title_template = '{{ .Shell }} in {{ .Folder }}'

[[blocks]]
type = 'prompt'
alignment = 'left'

[[blocks.segments]]
type = 'path'
style = 'plain'
background = 'transparent'
foreground = '#BABBF1'
template = '{{ .Path }}'

[blocks.segments.properties]
style = 'full'

[[blocks.segments]]
type = 'git'
style = 'plain'
foreground = '#ccc'
background = 'transparent'
template = ' {{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }} <#BABBF1>•{{ end }} {{ if gt .Behind 0 }}⇣{{ end }}{{ if gt .Ahead 0 }}⇡{{ end }}</>'

[blocks.segments.properties]
branch_icon = ''
commit_icon = '@'
fetch_status = true

[[blocks]]
type = 'rprompt'
overflow = 'hidden'

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

[[blocks.segments]]
type = 'text'
style = 'plain'
foreground_templates = [
  "{{if gt .Code 0}}#CB4B16{{end}}",
  "{{if eq .Code 0}}#80A1EF{{end}}",
]
background = 'transparent'
template = '❯'

[transient_prompt]
foreground_templates = [
  "{{if gt .Code 0}}#CB4B16{{end}}",
  "{{if eq .Code 0}}#80A1EF{{end}}",
]
background = 'transparent'
template = '❯ '

[secondary_prompt]
foreground = '#80A1EF'
background = 'transparent'
template = '❯❯ '
