* {
  font-size: 16px;
}

window {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  border: none;
}

#outer-box {
  padding: 12px;
}

#entry {
  padding: 8px 8px;
  border-radius: 4px;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.12);
}

#text {
  color: #ffffff;
}
