{{- if eq .chezmoi.hostname "arch-desktop" -}}
monitor = DP-1, 2560x1440@144, 0x0, 1
monitor = DP-2, 2560x1440@144, 2560x0, 1
monitor = DP-3, 2560x1440@144, 5120x0, 1
{{- else if eq .chezmoi.hostname "arch-laptop" -}}
monitor = eDP-1, 2880x1800@120, 0x0, 1
{{- end -}}
