windowrule = workspace special:magic silent, no_initial_focus on, match:class ^(chrome-home\.cuasar\.cc__-Default)$

windowrule = float on, size 380 600, center on, match:class ^(brave-nngceckbapebfimnlniiiahkandclblb-Default)$ # Bitwarden
windowrule = float on, size 300 616, center on, match:class ^(org.gnome.Calculator)$
windowrule = float on, match:class ^(qimgv)$
windowrule = float on, match:initial_class ^(ephemeral-kitty)$
windowrule = float off, match:class ^(steam)$
windowrule = float off, size 1920 1080, center on, workspace 1 silent, match:class ^(puppeteer-browser)$

windowrule = float on, persistent_size on, match:class ^(gjs)$
windowrule = float on, persistent_size on, match:class ^(GTK Application)$

{{- if eq .chezmoi.hostname "arch-desktop" }}
windowrule = move (monitor_w-window_w-27) 91, border_size 0, match:class ^(wofi)$
{{- else if eq .chezmoi.hostname "arch-laptop" }}
windowrule = move (monitor_w-window_w-27) 70, border_size 0, match:class ^(wofi)$
{{- end }}
windowrule = border_size 0, match:class ^(vicinae)$

layerrule = blur on, ignore_alpha 0, match:namespace vicinae
layerrule = blur on, ignore_alpha 0, match:namespace waybar
layerrule = blur on, ignore_alpha 0, match:namespace bar
layerrule = animation slide top, match:namespace swaync-control-center
layerrule = animation slide top, match:namespace swaync-notification-window

# Ignore maximize requests from apps
windowrule = suppress_event maximize, match:class .*

# Fix some dragging issues with XWayland
windowrule = no_focus on, match:class ^$, match:title ^$, match:xwayland 1, match:float 1, match:fullscreen 0, match:pin 0
