$terminal = kitty
$ephemeral-terminal = pypr-client toggle ephemeral-kitty
$files = nautilus
$menu = vicinae toggle
$emojis = vicinae vicinae://extensions/vicinae/vicinae/search-emojis
$clipboard = vicinae vicinae://extensions/vicinae/clipboard/history
$browser = brave
$whatsapp = brave --new-window --app=https://web.whatsapp.com
$obsidian = obsidian --disable-gpu

{{ if eq .chezmoi.hostname "arch-desktop" -}}
$inital_workspace = 6
$main_monitor = 1
{{ else if eq .chezmoi.hostname "arch-laptop" -}}
$inital_workspace = 1
$main_monitor = 0
{{- end -}}
